# Análise exploratória de dados

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

## 1. Coleta de Dados

In [2]:
titanic = sns.load_dataset('titanic')
titanic.to_csv('../data/raw/data.csv', index=False)

In [3]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

## 1. Dicionário de dados

In [4]:
dicionario= pd.DataFrame([
    {"variavel": "survived",
     "descricao":"Informa se sobreviveu ou não aou naufragio. 0=nao 1=sim",
     "tipo": "qualitativa",
     "subtipo": "nominal"},
    
    {"variavel": "pclass",
     "descricao": "Classe do passageiro. 1 = 1ª classe, 2 = 2ª classe, 3 = 3ª classe",
     "tipo": "qualitativa",
     "subtipo": "ordinal"},
    
    {"variavel": "sex",
     "descricao": "Sexo do passageiro. male=masculino, female=feminino",
     "tipo": "qualitativa",
     "subtipo": "nominal"},
    
    {"variavel": "age",
     "descricao": "Idade do passageiro",
     "tipo": "quantitativa",
     "subtipo": "discreta"},
    
    {"variavel": "sibsp",
     "descricao": "Número de irmãos e/ou companheiro abordo",
     "tipo": "quantitativa",
     "subtipo": "discreta"},
    
    {"variavel": "parch",
     "descricao": "Número de pais e/ou filhos abordo",
     "tipo": "quantitativa",
     "subtipo": "discreta"},
    
    {"variavel": "fare",
     "descricao": "Valor pago pela passagem",
     "tipo": "quantitativa",
     "subtipo": "continua"},
    
    {"variavel": "embarked",
     "descricao": "Nome do porto onde embarcou",
     "tipo": "qualitativa",
     "subtipo": "nominal"},
    
    {"variavel": "class",
     "descricao": "Equivalente ao pclass. 1 = 1ª classe, 2 = 2ª classe, 3 = 3ª classe",
     "tipo": "qualitativa",
     "subtipo": "ordinal"},
    
    {"variavel": "who",
     "descricao": "Categoria do passageiro. Homem, mulher ou criança",
     "tipo": "qualitativa",
     "subtipo": "nominal"},
    
    {"variavel": "adult_male",
     "descricao": "Verifica se o passageiro é um homem adulto ou não. False=nao True=sim",
     "tipo": "qualitativa",
     "subtipo": "nominal"},
    
    {"variavel": "deck",
     "descricao": "Área onde a cabine do passageiro está localizada",
     "tipo": "qualitativa",
     "subtipo": "nominal"},
    
    {"variavel": "embark_town",
     "descricao": "Cidade onde o passageiro embarcou",
     "tipo": "qualitativa",
     "subtipo": "nominal"},
    
    {"variavel": "alive",
     "descricao": "Verifica se o passageiro sobreviveu ou não. False=nao True=sim", 
     "tipo": "qualitativa",
     "subtipo": "nominal"},
    
    {"variavel": "alone",
     "descricao": "Verifica se o passageiro estava sozinho no navio ou não. False=nao True=sim",
     "tipo": "qualitativa",
     "subtipo": "nominal"}])

In [5]:
dicionario

,variavel,descricao,tipo,subtipo
0,survived,Informa se sobreviveu ou não aou naufragio. 0=...,qualitativa,nominal
1,pclass,"Classe do passageiro. 1 = 1ª classe, 2 = 2ª cl...",qualitativa,ordinal
2,sex,"Sexo do passageiro. male=masculino, female=fem...",qualitativa,nominal
3,age,Idade do passageiro,quantitativa,discreta
4,sibsp,Número de irmãos e/ou companheiro abordo,quantitativa,discreta
5,parch,Número de pais e/ou filhos abordo,quantitativa,discreta
6,fare,Valor pago pela passagem,quantitativa,continua
7,embarked,Nome do porto onde embarcou,qualitativa,nominal
8,class,"Equivalente ao pclass. 1 = 1ª classe, 2 = 2ª c...",qualitativa,ordinal
9,who,"Categoria do passageiro. Homem, mulher ou criança",qualitativa,nominal
10,adult_male,Verifica se o passageiro é um homem adulto ou ...,qualitativa,nominal
11,deck,Área onde a cabine do passageiro está localizada,qualitativa,nominal
12,embark_town,Cidade onde o passageiro embarcou,qualitativa,nominal
13,alive,Verifica se o passageiro sobreviveu ou não. Fa...,qualitativa,nominal
14,alone,Verifica se o passageiro estava sozinho no nav...,qualitativa,nominal

In [6]:
qualitativas=dicionario[dicionario['tipo']=='qualitativa'].variavel.tolist()
quantitativas=dicionario[dicionario['tipo']=='quantitativa'].variavel.tolist()

In [7]:
quantitativas

['age', 'sibsp', 'parch', 'fare']

In [8]:
qualitativas

['survived',
 'pclass',
 'sex',
 'embarked',
 'class',
 'who',
 'adult_male',
 'deck',
 'embark_town',
 'alive',
 'alone']

In [9]:
dicionario.to_csv('../data/external/dicionario.csv', index=False)

## 2. Perguntas de partida e hipóteses

## 3. Insights